.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

node_modules/
coverage/
.nyc_output/

yarn-error.log

.DS_Store

dist/
build/
out/
docs/RAWAPI.md

dw.json
dw.*.json
.DS_Store
tmp/
*.zip
build.properties
build.log
debug.log

yarn.lock

env/
.venv/
.env
vars.json

*.blob